<div class="container col-md-5">
    <div class="card">
        <div class="card-header">
            <h3>Editar Tarjeta</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class ="form-group">
                    <label for="">Nombre:</label>
                    <input [(ngModel)]= "tarjeta.nombre" name="nombre" type="text" class="form-control">

                </div>
                
                <div class ="form-group">
                    <label for="">Numero</label>
                    <input [(ngModel)]= "tarjeta.numero" name="numero" type="number" class="form-control">

                </div>
                <button (click)= "Actualizar(tarjeta)"  type="button" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>